.env
.env.*
!.env.example

.venv/
venv/
env/

__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

.DS_Store
Thumbs.db
*.log

.vercel/
api/
.idea/
.vscode/

data/
*.db

Crop_recommendation_cleaned.csv
notebook/.ipynb_checkpoints/
notebook/
